<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
</head>
<body>
    <h2>
        <a href="{% url user_role %}">Back to main... </a>
    </h2>
    {% block content %}
        <form method="get">
            {{ filter.form.as_p }}
            <input type="submit" />
        </form>
    {% endblock %}
    <br/>
    {% for item in card_info_items %}
        Patient FIO :: {{ item.fio }}<br/>
        Diseases :: {{ item.amount_of_diseases }}<br/>
        <a href="{% url 'card' user_id=item.owner_id %}"> More </a><br/>
        <br/>
        <hr/>
    {% endfor %}
    <br/>
</body>
</html>